@import "normalize.css/normalize"
@import url(https://fonts.googleapis.com/css?family=Raleway)
@keyframes animatedBackground
	to: { background-position-x: 100% 0; }

.app
  width: 600px
  margin: 3em auto
  text-align: center
  background-color: #2F3031
  border: solid 2px
  border-radius: 6px

h1
  font-family: 'Raleway'
  font-size: 2.5em
  margin-top: 50px

li
  text-align: left
  margin-left: 150px

input
  margin-bottom: 100px

button
  background-color: black
  color: #fff
  font-family: 'Raleway'
  border-style: none

#animate-area
	background-color: #A93434
	width: 100%
	height: 100%
	background-image: url('/images/bicycles.png')
	background-position: 0px 0px
	background-repeat: repeat-x

	animation: animatedBackground 20s linear infinite
